div#about-section
    div.about-box
        h2 Total Customers
        p 10M+
    div.about-box
        h2 Years of Experience
        p 09+
    div.about-box 
        h2 Total Destinations
        p 12K
    div.about-box 
        h2 Average Ratings
        p 4.9